:root {
    --primary-color: #033ec9;
    --secondary-color: #1d253b; /* Example darker shade */
    --max-width: 1200px;
    --primary_text-color: #000000;
    --secondary_text-color: #2c3855;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #033ec9;
}

li {
    list-style: none;
}

a {
    color: #fff;
    text-decoration: none;
}

.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 24px;
}

